/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  margin: 5rem auto;
}
/* Logo */
.logo {
  text-align: center;
}
/* Add Items */
.addItems {
  padding: 1.5rem 2rem;
  text-align: center;
}
input,
.btn_add {
  border: 1px solid #212121;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
input {
  margin-right: 1rem;
}
.error {
  padding-top: 0.5rem;
}
/* List*/
.list {
  display: flex;
  justify-content: center;
}
.items {
  background-color: #f5f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
}
.item {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
  border-bottom: 1px solid #dadee1;
}
.icons {
  margin-left: 2rem;
}
i {
  padding: 0 0.5rem;
}

/* Completed/Trashed */
h4 {
  padding-bottom: 1rem;
}
.completed,
.trashed {
  background-color: #f5f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}
.single_completed_item,
.single_trashed_item {
  display: flex;
  justify-content: space-between;
}
.delete {
  display: flex;
}
.delete > p {
  color: red;
  margin-left: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}
