/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  margin: 5rem auto;
}
.logo {
  text-align: center;
}
input,
.btn_add {
  border: 1px solid #212121;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
input {
  margin-right: 1rem;
}
.error {
  padding-top: 0.5rem;
}
.list {
  display: flex;
  justify-content: center;
}

.addItems {
  padding: 1.5rem 2rem;
  text-align: center;
}
.item {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
  border-bottom: 1px solid #dadee1;
}

.items {
  background-color: #f5f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
}
h4 {
  padding-bottom: 1rem;
}
.icons {
  margin-left: 2rem;
}

i {
  padding: 0.5rem;
}

.completed {
  background-color: #f5f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}
