<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Todo List Bonus</title>
        <link rel="stylesheet" href="./Assets/Css/style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    </head>
    <body>
        <div id="root">
            <div class="container">
                <div class="logo">
                    <img width="250" :src="logoImage" alt="">
                </div>
                <!-- /.logo -->
                <div class="addItems">
                    <input type="text" placeholder="Nuovo todo"
                        v-model="newItem"
                        @keyup.enter="addItem">
                    <button class="btn_add" @click="addItem">Aggiungi</button>
                    <div class="error" v-show="error">Devi scrivere qualcosa</div>
                </div>
                <!-- /.addItems -->
                <div class="list">
                    <div class="container_items">
                        <div class="items" v-if="items.length> 0">
                            <h4>Todo List</h4>

                            <div class="item" v-for="(item, index) in items">
                                <p>{{item}}</p>
                                <div class="icons">
                                    <i class="fas fa-pencil-alt"
                                        @click="modifyItem(index)"></i>
                                    <i class="fas fa-check"
                                        @click="completedItems(index)"></i>
                                    <i class="fas fa-times"
                                        @click="removeItem(index)"></i>
                                </div>
                            </div>
                            <div class="modify" v-show="modify">
                                <input type="text" placeholder=""
                                    v-model="newItem"
                                    @keyup.enter="addItem">
                            </div>
                        </div>
                        <div class="items" v-else>
                            <p>Niente altro da fare</p>
                        </div>
                    </div>
                    <!-- /.container_items -->
                    <div class="completed">
                        <h4>Completed</h4>
                        <div class="single_completed_item" v-for="(itemComplete,
                            index) in
                            listCompletedItems">
                            <p>{{itemComplete}}</p>
                            <i class="fas fa-undo" @click="backItems(index)"></i>
                        </div>
                    </div>
                    <!-- /.completed -->
                    <div class="trashed">
                        <div class="delete">
                            <h4>Trashed</h4>
                            <p @click="emptyItems">Empty
                                bin</p>
                        </div>
                        <div class="single_trashed_item" v-for="(itemTrashed,
                            index) in
                            listTrashedItems">

                            <p>{{itemTrashed}}</p>
                            <i class="fas fa-trash-restore"
                                @click="backDeletedItems(index)"></i>
                        </div>
                    </div>
                    <!-- /.trashed -->
                </div>
                <!-- /.list -->
            </div>
            <!-- /.container -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="./Assets/Js/main.js"></script>
    </body>
</html>